<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.rocketmq.console.dao.TroubleMsgMapper">
    <resultMap type="org.apache.rocketmq.console.model.TroubleMsg" id="troubleMsg">
        <id column="id" property="id"/>
        <result column="msg_id" property="msgId"/>
        <result column="type" property="type"/>
        <result column="msg_property" property="msgProperty"/>
        <result column="topic" property="topic"/>
        <result column="msg_body" property="msgBody"/>
        <result column="send_time" property="sendTime"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="baseColumn" >
            id,msg_id,`type`,topic,msg_property,msg_body,send_time,`status`,create_time,update_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id">
        insert into trouble_msg(
                                id,
                                msg_id,
                                type,
                                topic,
                                msg_property,
                                msg_body,
                                send_time,
                                status,
                                create_time,
                                update_time)
                                VALUES
                                       (
                                        #{id},
                                        #{msgId},
                                        #{type},
                                        #{topic},
                                        #{msgProperty},
                                        #{msgBody},
                                        #{sendTime},
                                        #{status},
                                        #{createTime},
                                        #{updateTime}
                                                            )
    </insert>
    <insert id="batchInsert" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        insert into trouble_msg(
        id,
        msg_id,
        type,
        topic,
        msg_property,
        msg_body,
        send_time,
        status,
        create_time,
        update_time)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.id},
            #{item.msgId},
            #{item.type},
            #{item.topic},
            #{item.msgProperty},
            #{item.msgBody},
            #{item.sendTime},
            #{item.status},
            #{item.createTime},
            #{item.updateTime}
            )
        </foreach>
    </insert>
    <select id="queryIfExist" resultType="java.lang.Integer">
        select count(1) from trouble_msg where msg_id=#{msgId} and topic=#{topic}
    </select>

    <select id="queryTroubleMsg" resultMap="troubleMsg">
        select <include refid="baseColumn"/> from trouble_msg
        <where>
            <if test="topic != null and topic != '' ">
                topic = #{topic,jdbcType=VARCHAR}
            </if>
            <if test="msgId != null and msgId != '' ">
                and msg_id = #{msgId,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and `status` = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>


</mapper> 
